.icon {
    display: inline-block;
    background-color: var(--black-color);
    -webkit-mask-size: contain !important;
    mask-size: contain !important;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    cursor: pointer;
    
    &-size-20 {
        width: 20px;
        height: 20px;
    }
    &-size-24 {
        width: 24px;
        height: 24px;
    }
    &-size-28 {
        width: 28px;
        height: 28px;
    }
    &-size-32 {
        width: 32px;
        height: 32px;
    }
    
    &-course {
        -webkit-mask: url('../../assets/icons/course.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/course.svg') no-repeat 50% 50%;
    }
    &-dashboard {
        -webkit-mask: url('../../assets/icons/dashboard.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/dashboard.svg') no-repeat 50% 50%;
    }
    &-profile {
        -webkit-mask: url('../../assets/icons/profile.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/profile.svg') no-repeat 50% 50%;
    }
    &-progress {
        -webkit-mask: url('../../assets/icons/progress.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/progress.svg') no-repeat 50% 50%;
    }
    &-certificate {
        -webkit-mask: url('../../assets/icons/certificate.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/certificate.svg') no-repeat 50% 50%;
    }
    &-notification {
        -webkit-mask: url('../../assets/icons/notification.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/notification.svg') no-repeat 50% 50%;
    }
    &-notification-silent {
        -webkit-mask: url('../../assets/icons/notification-slient.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/notification-slient.svg') no-repeat 50% 50%;
    }
    &-menu-left {
        -webkit-mask: url('../../assets/icons/burger-menu-left.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/burger-menu-left.svg') no-repeat 50% 50%;
    }
    &-menu-right {
        -webkit-mask: url('../../assets/icons/burger-menu-right.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/burger-menu-right.svg') no-repeat 50% 50%;
    }
    &-sun {
        -webkit-mask: url('../../assets/icons/sun.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/sun.svg') no-repeat 50% 50%;
    }
    &-moon {
        -webkit-mask: url('../../assets/icons/moon.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/moon.svg') no-repeat 50% 50%;
    }
    &-heart {
        -webkit-mask: url('../../assets/icons/heart.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/heart.svg') no-repeat 50% 50%;
    }
    &-arrow-left-btn {
        -webkit-mask: url('../../assets/icons/arrow-left-button.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/arrow-left-button.svg') no-repeat 50% 50%;
    }
    &-arrow-left {
        -webkit-mask: url('../../assets/icons/arrow-left.svg') no-repeat 50% 50%;
        mask: url('../../assets/icons/arrow-left.svg') no-repeat 50% 50%;
    }
    &-blackboard {
        -webkit-mask: url("../../assets/icons/blackboard.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/blackboard.svg") no-repeat 50% 50%;
    }
    &-certificate-check {
        -webkit-mask: url("../../assets/icons/certificate-check.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/certificate-check.svg") no-repeat 50% 50%;
    }
    &-coding-lang {
        -webkit-mask: url("../../assets/icons/coding-lang.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/coding-lang.svg") no-repeat 50% 50%;
    }
    &-coding-web {
        -webkit-mask: url("../../assets/icons/coding-website.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/coding-website.svg") no-repeat 50% 50%;
    }
    &-lesson {
        -webkit-mask: url("../../assets/icons/lesson.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/lesson.svg") no-repeat 50% 50%;
    }
    &-register {
        -webkit-mask: url("../../assets/icons/register.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/register.svg") no-repeat 50% 50%;
    }
    &-signin {
        -webkit-mask: url("../../assets/icons/signin.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/signin.svg") no-repeat 50% 50%;
    }
    &-signout {
        -webkit-mask: url("../../assets/icons/signout.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/signout.svg") no-repeat 50% 50%;
    }
    &-task {
        -webkit-mask: url("../../assets/icons/task.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/task.svg") no-repeat 50% 50%;
    }
    &-time {
        -webkit-mask: url("../../assets/icons/time.svg") no-repeat 50% 50%;
        mask: url("../../assets/icons/time.svg") no-repeat 50% 50%;
    }
}