<!-- <swiper>


</swiper> -->

  <div class="swiper-slide">
    <div class="responsive-container-block content">
      <p class="text-blk quotes">
        “
      </p>
      <img class="profile-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourInstructors3.svg">
      <p class="text-blk info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
      </p>
      <img class="image-block review" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/t82.jpg">
      <p class="text-blk name">
        Jane Doe
      </p>
      <p class="text-blk desig">
        CEO
      </p>
    </div>
  </div>
