<div class="testimonial text-center pt-20 dark:bg-gray-900">
  <span
    class="py-1 px-4 bg-cyan-100 rounded-full text-xs font-medium text-sky-500 text-center"
    >Отзывы</span
  >
  <div class="swiper-slide  dark:bg-gray-900">
    <div class="responsive-container-block content  dark:bg-gray-900">
      <p class="text-blk quotes dark:text-white">“</p>
      <img
        class="profile-img"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourInstructors3.svg"
      />
      <p class="text-blk info text-gray-900 dark:text-white">
        Просто потрясающая платформа! Я никогда не думала, что Python может
        быть таким доступным и интересным. Пошаговые уроки, понятные
        объяснения и интерактивные задания — идеальное сочетание для новичка.
        Спасибо, что сделали обучение таким увлекательным!
      </p>
      <img
        class="image-block review"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/t82.jpg"
      />
      <p class="text-blk name text-gray-900 dark:text-white">Jane Doe</p>
      <p class="text-blk desig text-gray-900 dark:text-white">CEO</p>
    </div>
  </div>
</div>
    