<section class="py-16 sm:py-24 relative text-center">
  <span
    class="py-1 px-4 bg-cyan-100 rounded-full text-xs font-medium text-sky-500 text-center"
    >О нас</span
  >
  <div class="w-full max-w-7xl mt-5 px-4 md:px-5 lg:px-5 mx-auto">
    <div
      class="w-full justify-start items-center gap-12 grid lg:grid-cols-2 grid-cols-1"
    >
      <div
        class="w-full justify-center items-start gap-6 grid sm:grid-cols-2 grid-cols-1 lg:order-first order-last"
      >
        <div
          class="pt-24 lg:justify-center sm:justify-end justify-start items-start gap-2.5 flex"
        >
          <img
            class="img1 rounded-xl object-cover"
            src="https://avatars.mds.yandex.net/i?id=8315899751917ed6bf651070e8b86f22_l-5333398-images-thumbs&n=13"
            alt="about Us image"
          />
        </div>
        <img
          class="img2 sm:ml-0 ml-auto rounded-xl object-cover"
          src="https://www.gov.kz/uploads/2024/6/26/20ced4beec1cacfb6e3285dcc4ac80f7_original.281346.jpg"
          alt="about Us image"
        />
      </div>
      <div
        class="w-full flex-col justify-center lg:items-start items-center gap-10 inline-flex"
      >
        <div class="w-full flex-col justify-center items-start gap-8 flex">
          <div
            class="w-full flex-col justify-start lg:items-start items-center gap-3 flex"
          >
            <h2
              class="text-gray-900 text-4xl font-bold font-manrope leading-normal lg:text-start text-center"
            >
              Объединяя усилия для общего успеха
            </h2>
            <p
              class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center"
            >
              Каждый проект, над которым мы работаем, — это результат совместных
              усилий, где каждый участник оставляет свой вклад. Вместе мы не
              только создаём программные решения, но и строим крепкие связи,
              которые формируют нашу историю успеха.
            </p>
          </div>
          <div
            class="w-full lg:justify-start justify-center items-center sm:gap-10 gap-5 inline-flex"
          >
            <div class="flex-col justify-start items-start inline-flex">
              <h3
                class="text-gray-900 dark:text-white text-4xl font-bold font-manrope leading-normal"
              >
                33+
              </h3>
              <h6 class="text-gray-500 text-base font-normal leading-relaxed">
                Лет опыта
              </h6>
            </div>
            <div class="flex-col justify-start items-start inline-flex">
              <h4
                class="text-gray-900 dark:text-white text-4xl font-bold font-manrope leading-normal"
              >
                25+
              </h4>
              <h6 class="text-gray-500 text-base font-normal leading-relaxed">
                Успешных проектов
              </h6>
            </div>
            <div class="flex-col justify-start items-start inline-flex">
              <h4
                class="text-gray-900 dark:text-white text-4xl font-bold font-manrope leading-normal"
              >
                52+
              </h4>
              <h6 class="text-gray-500 text-base font-normal leading-relaxed">
                Довольных клиентов
              </h6>
            </div>
          </div>
        </div>
        <app-button>Узнать больше</app-button>
      </div>
    </div>
  </div>
</section>
