<div class="course">
  <div class="course-info px-10 flex-1">
    <app-course-info [course]="course" [view]="'detail'"></app-course-info>
  </div>
  <div class="course-modules px-10 flex-1">
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Self aware panel </mat-panel-title>
          <mat-panel-description> Currently I am </mat-panel-description>
        </mat-expansion-panel-header>
        <p
          class="cursor-pointer"
          (click)="sendHideSidebarMsg()"
          [routerLink]="['lesson', '1']"
        >
          I'm visible because I am open
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
