<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
  <h1
    class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
  >
    Создайте аккаунт
  </h1>
  <form
    class="space-y-4 md:space-y-6"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <label
        for="username"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Логин</label
      >
      <input
        type="text"
        id="username"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Username"
        formControlName="username"
      />
    </div>
    <div>
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Ваша электронная почта</label
      >
      <input
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="name@company.com"
        formControlName="email"
      />
    </div>
    <div>
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Пароль</label
      >
      <input
        type="password"
        id="password"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="password"
      />
    </div>
    <div>
      <label
        for="confirm-password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Подтверждение пароля</label
      >
      <input
        type="password"
        id="confirm-password"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="confirmPassword"
      />
    </div>
    <div class="flex items-start">
      <div class="flex items-center h-5">
        <input
          id="terms"
          aria-describedby="terms"
          type="checkbox"
          class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
          formControlName="terms"
        />
      </div>
      <div class="ml-3 text-sm">
        <label for="terms" class="font-light text-gray-500 dark:text-gray-300"
          >Я принимаю
          <a
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
            href="#"
            >Усолвия и положения</a
          ></label
        >
      </div>
    </div>
    <app-button
      class="btn"
      [color]="'primary'"
      [size]="'small'"
      type="submit"
      [disabled]="!registerForm.valid"
      >Создать аккаунт</app-button
    >
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      Уже есть аккаунт?
      <a
        class="font-medium text-primary-600 hover:underline dark:text-primary-500"
        [routerLink]="['../login']"
        >Вход</a
      >
    </p>
  </form>
</div>
