<form method="post" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="max-w-5xl mx-auto p-6 rounded-xl shadow-md space-y-6">
    <div class="flex flex-col-reverse md:flex-row gap-8">
        @if(user$ | async; as user) {
          <div class="flex-1 space-y-4">
            <div>
              <app-form-field type="text" id="username" label="Логин" [value]="user.username" control="login"></app-form-field>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <app-form-field type="text" id="firstname" label="Имя" [value]="user.firstName" control="firstname"></app-form-field>
              <app-form-field type="text" id="lastname" label="Фамилия" [value]="user.lastName" control="lastname"></app-form-field>
            </div>
            <div>
              <app-form-field type="email" id="email" label="Электронная почта" [value]="user.email" control="email"></app-form-field>
            </div>
            <div>
              <p class="text-lg font-semibold mb-2">Изменить пароль</p>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <app-form-field type="password" id="password" label="Пароль" placeholder="********" control="password"></app-form-field>
                <app-form-field type="password" id="confirmPassword" label="Подтвердите пароль" placeholder="********" control="confirmPassword"></app-form-field>
              </div>
            </div>
          </div>
      
          <div class="w-full md:w-56 flex-shrink-0">
            <p class="text-lg font-semibold mb-2">Фото</p>
            <app-image-uploader></app-image-uploader>
          </div>
        }
      
    </div>
  </form>
  